@media screen and (max-width: 676px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
    }
    .items-container {
        flex-direction: column;
        margin-left: 50px;
        gap: 20px;
    }
    .banner-section {
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .text-container {
        width: 100%;
    }
    .banner-image-container {
        width: 100%;
    }
    
}